build/
build_test/
build_seq/
build_ic/
install/
docs/build/
my_test/
tmp/
gs_mps/
node0/
nodex/
MANIFEST
.clang-format
.vscode/

__pycache__/
*.py[cod]

.ipynb_checkpoints/
.coverage
.vs/

*.egg-info
dist/
.idea
